<div class="org-container-flex-item side">
  <div class = "side-flex-item header">
    <h3>Organizations</h3>
    {{#link-to 'organizations.new' class="new-link-btn"}}
      <span class="btn-text">Create</span>
      <span class="btn-icon"><i class="fas fa-plus"></i></span>
    {{/link-to}}
  </div>
  <div class="side-flex-item search">
 {{search-bar
    basePlaceholder="Search organizations"
  }}
  </div>
  <div class="side-flex-item filter-sort">
    <div class="filter-by">
      <span class="fs-label filter">Filter</span><i class="fas fa-filter"></i>
        <span class="hover-menu checkbox">
          <ul>
            {{#each-in filterOptions as  |option values|}}
              <li>
                <label>
                  <input type="checkbox" checked={{values.isChecked}} name={{option}} onclick={{action "updateFilter" option}}>
                  <span>
                    <span class="radio-text">{{values.label}}</span>
                  </span>
                </label>
              </li>
            {{/each-in}}
          </ul>
        </span>
    </div>
    <div class="sort-by">
       <span {{action "toggleSortDirection"}} class="fs-icon sort-direction"><i class={{sortDirectionIcon}}></i></span>
      <span class="fs-label sort">Sort By <i class="fas fa-sort-down"></i></span>
        <span class="hover-menu" id="org-sort-param">
          <ul>
            {{#each sortOptions as |option|}}
              {{radio-filter
                labelName=option.label
                labelIcon=option.icon
                inputValue=option.index
                isChecked=option.isChecked
                groupName="sort-param"
                onClick=(action "updateSortParam")
                groupValue=sortParam
              }}
            {{/each}}
          </ul>
        </span>
    </div>
  </div>
  <div class="side-flex-item display-description">
    <p>Found {{model.length}} organizations</p>
  </div>
  <div class="side-flex-item list">
  {{org-list store=store orgs=displayOrgs meta=orgsMeta activeOrg=activeOrg}}
  </div>
</div>

<div class="org-container-flex-item outlet">
  {{outlet}}
</div>
