
<div class="org-info-section name">
  {{#if isEditing}}
    {{input type="text" value=updatedOrgName}}
    <i {{action "trashOrg"}}class="fas fa-trash"></i>
  {{else}}
    <h3 class="{{if model.isTrashed "strikethrough"}}">{{model.name}}</h3>
      {{#if canEdit}}
        {{#if model.isTrashed}}
          <button class="primary-button restore-button" {{action "restoreOrg" model}}>Restore</button>
        {{else}}
          <i {{action "beginEditing"}} class="fas fa-edit"></i>
        {{/if}}
      {{/if}}
  {{/if}}
</div>
<div class="org-info-section pdadmins">
  <h5>PD Admins</h5>
  <ul class="item-columns">
    {{#each model.pdMembers as |pdAdmin|}}
    <li class="item">
      {{#link-to 'user' pdAdmin.username}}{{pdAdmin.username}}{{/link-to}}
      {{#if isEditing}}
        <i {{action "removePdAdmin" pdAdmin}} class="fas fa-minus-circle"></i>
      {{/if}}
    </li>
    {{else}}
      <p class="no-items">
        This organization has not yet been assigned a PD Admin.</p>
    {{/each}}
  </ul>
  {{#if isEditing}}
    <p>Add Pd Admins</p>
    {{selectize-input
      store=store
      inputId="select-add-pdadmin"
      maxItems=20
      initialOptions=initialPdAdminOptions
      selectedItemsHash=existingPdAdminIdHash
      onItemAdd=(action "updatePdAdminsToAdd")
      onItemRemove=(action "updatePdAdminsToAdd")
      model="user"
      isAsync=true
      labelField="username"
      searchField="username"
      valueField="id"
      queryParamsKey="usernameSearch"
    }}
    {{#if arePdAdminsToAdd}}
      <button {{action "addPdAdmins"}} class="primary-button" {{action "addPdAdmins"}}>{{addPdAdminsBtnText}}</button>
    {{/if}}
  {{/if}}
</div>
<div class="org-info-section members">
  <h5>Members</h5>
  <ul class="item-columns">
    {{#each model.regularMembers as |member|}}
    <li class="item">
      {{#link-to 'user' member.username}}{{member.username}}{{/link-to}}
      {{#if isEditing}}
      <i {{action "removeMember" member}} class="fas fa-minus-circle"></i>
      {{/if}}
    </li>
    {{else}}
      <p class="no-items">This organization does not have any members yet.</p>
    {{/each}}
  </ul>
  {{#if isEditing}}
    <p>Add Members</p>
    {{selectize-input
      store=store
      inputId="select-add-member"
      maxItems=20
      initialOptions=initialMemberOptions
      selectedItemsHash=existingMemberIdHash
      onItemAdd=(action "updateMembersToAdd")
      onItemRemove=(action "updateMembersToAdd")
      model="user"
      isAsync=true
      labelField="username"
      searchField="username"
      valueField="id"
      queryParamsKey="usernameSearch"
    }}
    {{#if areMembersToAdd}}
      <button class="primary-button" {{action "addMembers"}}>{{addMembersBtnText}}</button>
    {{/if}}
  {{/if}}
</div>
<div class="org-info-section problems">
  <h5>Recommended Problems</h5>
  {{#if model.recommendedProblems}}
    <ul class="item-columns">
      {{#each model.recommendedProblems as |problem|}}
      <li class="item">
        {{#link-to 'problem' problem.id}}{{problem.title}}{{/link-to}}
        {{#if isEditing}}
          <i {{action 'removeProblem' problem}} class="fas fa-minus-circle"></i>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  {{else}}
      <p class="no-items">This organization does not have any recommended problems yet. Visit the {{#link-to 'problems'}}problems{{/link-to}} page to add some.</p>
  {{/if}}
</div>

{{#if isEditing}}
  <div class="org-info-section buttons button-row">
    <button {{action "stopEditing"}} class="primary-button cancel-button">Cancel</button>
    <button {{action "saveEdits"}} class="primary-button">Save</button>
  </div>
{{/if}}